// Fuentes
$fuente_principal: 'Roboto', sans-serif;


// Media Queries
$telefono: 488px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primario: #5E311E;
$secundario: #C39633;
$negro: #000000;
$blanco: #FFFFFF;
$grisClaro: #eceeef;
$cafeClaro: #ebe7de;

// Unidades
$separacion: 5rem;